<%- include('partials/header.ejs') -%>
<div class="bookshelf">
  <img src="assets/images/bookshelf.jpeg" id="headingimage" alt="a library">


  <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima, delectus eaque blanditiis atque necessitatibus corrupti eius. Voluptatibus dolor aut quisquam aperiam! Veritatis placeat numquam voluptatum soluta quia impedit laudantium repellat?</h1>


</div>

<div class="navbar">
  <div><!-- As of now, this button is mostly 'decorative'. -->
    <a href="/about"><img src="assets/images/button2.png" class="nav-button" alt="navigation button about"></a>
</div>
  <div>        
      <a href="/new"><img src="assets/images/button1.png" class="nav-button" alt="navigation button new entry"></a>
  </div>
  
</div>

<%- include('partials/footer.ejs') -%>