<%- include('partials/header.ejs') -%>
<div class="bookshelf">
  <img src="assets/images/bookshelf.jpeg" id="headingimage" alt="a library" />

  <h1>Reading is an escape !!</h1>
  <h2>
    Readers are the curious explorers of worlds within words, voyaging through
    pages that span reality and imagination. With each sentence they devour,
    they embark on a journey where time bends, perspectives shift, and emotions
    stir. Readers are not mere spectators but active participants in the
    narratives they encounter, forging connections with characters, grappling
    with dilemmas, and unraveling mysteries.
  </h2>
</div>

<div class="navbar">
  <div>
    <!-- As of now, this button is mostly 'decorative'. -->
    <a href="/about"
      ><img
        src="assets/images/button2.png"
        class="nav-button"
        alt="navigation button about"
    /></a>
  </div>
  <div>
    <a href="/new"
      ><img
        src="assets/images/button1.png"
        class="nav-button"
        alt="navigation button new entry"
    /></a>
  </div>
</div>

<%- include('partials/footer.ejs') -%>
